body{
    background-color: #251400;
    color: #ffcd7c;;
    font-family: "Italiana", sans-serif;
    text-align: center;
}

#addPlaylistBtn, #adicionarMusicaBtn, #voltarPlaylists, .verBtn{
    margin-top: 20px;
    padding: 5px 10px;
    background-color: #ffcd7c;
    color: #251400;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 800;
}

.excluirBtn, .verBtn{
    margin-top: 20px;
    padding: 5px 10px;
}

.containerBtns {
  display: flex;
  flex-wrap: wrap; /* permite quebrar linha */
  max-width: 200px; /* só pra não ficar esticado demais */
}

.playBtn,
.favBtn,
.addPlaylistBtn {
  flex: 1;
  font-weight: bold;
  cursor: pointer;
}

/* Ouvir e Favoritar lado a lado */
.playBtn,
.favBtn {
  flex-basis: calc(50% - 2px); /* divide em 2 colunas */
}

.addPlaylistBtn {
  flex-basis: 100%;
}

#notificacao-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.notificacao {
  background: #1f1f1f;
  color: white;
  padding: 15px;
  border-left: 6px solid #1db954;
  border-radius: 10px;
  width: 260px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
  animation: fadeIn .3s ease-in-out;
}

.ouvir-btn {
  background: #1db954;
  border: none;
  padding: 8px 12px;
  margin-top: 8px;
  border-radius: 6px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.amigo {
  display: flex;
  align-items: center;
  background: #222;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  gap: 15px;
  color: white;
}

.amigo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid grey;
}

.amigo.online img {
  border-color: #1db954;
}
